.player-compare-page {
  margin-left: 20px;

  .row {
    display: flex;

    img {
      max-width: 128px;
      max-height: 128px;
      width: auto;
      height: auto;
      margin-right: 20px;
    }
  }
}

.btn-remove {
  margin-top: -2px;
  padding: 4px 8px;
  color: black;
}
