@import '../../style/colors';

.profile-page {

  .hot-cold-container {
    display: flex;

    .hot-cold {
      min-width: 300px;

      table {
        width: 96%;

        tbody {
          tr {
            background-color: rbga(white, 0.8);
          }
        }

        img {
          height: 32px;
          width: 32px;
        }
      }
    }
  }

  .stats-tables {
    display: flex;

    .stat-table {
      min-width: 300px;
    }

    h2 { display: block; }

    table {
      width: 96%;
    }
  }
}
