@import '../../style/colors';

.profile-page {

  .hot-cold-container {
    display: flex;

    .hot-cold {
      margin-right: 12px;

      table {

        tbody {
          tr {
            background-color: rbga(white, 0.8);
          }
        }

        img {
          height: 32px;
          width: 32px;
        }
      }
    }
  }
}
