.replay-index {

  .replay-wrapper {
    display: flex;
    justify-content: space-between;

    .replay-filters {

    }

    .win-rates {
    }

  }

  .prev-next-buttons {
    display: flex;
  }
}
