@import '../../style/colors';

.user-settings {

  .message-container {
    font-size: 24px;
    background-color: white;
    color: green;
    height: 30px;
    margin-bottom: 12px;
    padding: 8px;
    text-align: center;
  }

  .user-settings-container {
    display: flex;

    .settings-component {
      background: rgba(#310679, 0.5);
      border: 1px solid $purple;
      max-width: 1024px;
      min-width: 40%;
      padding: 10px 30px 30px 30px;
      margin-right: 50px;
    }
  }
}
