$blueJeans: rgba(93, 179, 233, 1);
$azure: rgba(1, 128, 230, 1);
$prussianBlue: rgba(1, 47, 83, 1);
$azure2: rgba(5, 145, 250, 1);
$mediumElectricBlue: rgba(6, 83, 138, 1);


$darkBlue:  #0e2134;
$whiteish: #ECF0F1;
$mediumBlue: #3498DB;
$slightlyDarkerBlue: #2980B9;
$red: #E74C3C;
$grey: #e4e4e4;
$purple: #090099;

$orange: #FFA800;
