// I get some of the names from http://chir.ag/projects/name-that-color
$rhino: #282B51;
$purple: #5E34A8;
$victory: #53EA4E;
$defeat: #EC644B;

$darkBlue:  #0e2134;
$whiteish: #ECF0F1;
$mediumBlue: #3498DB;
$slightlyDarkerBlue: #2980B9;
$red: #E74C3C;
$grey: #e4e4e4;

$orange: #FFA800;
$orangeStart: #FF9400;
$orangeEnd: #FF7A00;

.orange {
  color: $orange;
}
