.site-header {
  height: 60px;
  position: fixed;
  top: 0px;
  z-index: 100000;
  width: 100%;
  background-color: $prussianBlue;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav-link {
    height: 100%;
    display: flex;
    align-items: center;

    a {
      color: $blueJeans;
      font-size: 16px;
    }
  }
}
