.site-header {
  position: fixed;
  top: 0px;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(to bottom, rgba(#310679, 0.75), rgba(#24077C, 0.75));
  border-bottom: 2px solid $purple;
  box-sizing: border-box;

  .nav-bar {
    display: flex;
    flex: none;
    align-items: center;
    height: 50px;
    position: relative;
    padding: 0 10rem;

    .nav-link {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 40px;

      &:last-of-type {
        margin-left: auto;
      }

      a {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
      }

      a.brand {
        height: 100%;
        width: 120px;

        .logo {
          height: 100%;
          width: 100%;
          fill: white;
        }
      }

    }
  }

  .site-notification {
    background-color: $orange;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid $darkBlue;

    .message {
      width: auto;
      margin: 5px;
      text-align: center;
      font-size: 16px;
    }

    .close-button {
      position: fixed;
      display: inline-block;
      right: 10px;
      top: 0;
      background: none;
      border-image: none;
      border: none;
      padding: 0;
      color: $whiteish;
    }
  }
}

.site-footer {
  height: 34px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(#310679, 1.0), rgba(#24077C, 1.0));
  border-top: 2px solid $purple;
  border-bottom: 2px solid $purple;
  box-sizing: border-box;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;

  .nav-link {
    height: 100%;
    display: flex;
    align-items: center;

    a {
      color: white;
      font-size: 18px;
      text-transform: uppercase;

      i {
        color: white;
      }
    }
  }
}

// These next 3 are used by react-simple-dropdown
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
  width: 100%;
}

.profile-dropdown {
  height: 100%;
  background: linear-gradient(to bottom, $orangeStart, $orangeEnd);

  .dropdown__trigger {
    height: 100%;
    padding: 0px 6px;
    display: flex;
    align-items: center;

    span {

      i {
        margin-left: 6px;
      }
    }
  }

  .dropdown-trigger-text {
    color: white;
  }

  .link-list-wrapper {
    display: flex;
    flex-direction: column;

    a {
      padding: 0px 6px;
      height: 30px;
      width: 100%;
      background: linear-gradient(to bottom, $orangeStart, $orangeEnd);
      color: white;
      font-size: 14px;
      padding-top: 10px;

      i { margin-right: 8px;}
    }
  }
}
