.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      background-color: #252d73;
      color: $whiteish;
      height: 38px;

      th {
        padding: 4px 8px;
        text-align: left;
      }
    }
  }

  tbody {

    tr {
      height: 32px;
      color: white;
      font-size: 14px;
    }

    tr:nth-child(even) {
      background-color: #131632;
    }

    tr:nth-child(odd) {
      background-color: #111027;
    }

    td {
      padding: 4px 8px;
    }

  }
}
