.table {
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  border-collapse: separate;
  border-spacing: 0px;

  thead {
    background-color: rgba($rhino, 0.8);

    tr {
      color: white;
      font-weight: 100;
      height: 38px;

      th {
        padding: 4px 8px;
        text-align: left;
      }
    }
  }

  tbody {

    tr {
      height: 32px;
      color: white;
    }

    td {
      padding: 4px 8px;
      border-bottom: 1px solid $rhino;
    }

  }
}

.vertical-team-table {
  background-color: rgba($rhino, 0.4);

  caption {
    background-color: rgba($rhino, 0.4);
    color: $orange;
  }

  th {
    width: 200px;
  }

  td {
  }

  td:nth-child(2n){
    background-color: rgba(blue, 0.4);
  }

  td:last-child {
    background-color: rgba(red, 0.4);
  }
}

.blue-team {
  background-color: rgba(blue, 0.4);
}

.red-team {
  background-color: rgba(red, 0.4);
}

.victory-row {
  background-color: rgba($victory, 0.6);

  &:hover {
    background-color: rgba($victory, 1);
  }
}

.defeat-row {
  background-color: rgba($defeat, 0.6);

  &:hover {
    background-color: rgba($defeat, 1);
  }
}

.undecided-row {
  background-color: rgba($grey, 0.6);

  &:hover {
    background-color: rgba($grey, 1);
  }
}
