.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Work Sans', sans-serif;

  thead {

    tr {
      background-color: $orange;
      color: black;
      font-weight: 100;
      height: 38px;

      th {
        padding: 4px 8px;
        text-align: left;
      }
    }
  }

  tbody {

    tr {
      height: 32px;
      color: white;
      font-size: 14px;
    }

    tr:nth-child(even) {
      background-color: #131632;
    }

    tr:nth-child(odd) {
      background-color: #111027;
    }

    td {
      padding: 4px 8px;
    }

  }
}

.match-table {
  thead {
    tr {
      background-color: $orange;
      color: black;
    }
  }
}

.victory-row {
  td {
    color: green;

    &:first-child {
    }
  }
}

.defeat-row {
}
