.ReactTabs__TabList {
  border-bottom: 1px solid $orange !important;
}

.react-tabs [role=tab] {
  color: $orange;
}

.react-tabs [role=tab][aria-selected=true] {
  color: $purple;
  border-color: $orange;
}
