.dropzone {
  height: 100px;
  width: 100%;
  border: 2px dashed $mediumBlue;
  text-align: center;
  font-size: 20px;
  color: $mediumBlue;
  display: flex;
  align-items: center;
  justify-content: center;

}

.upload-status-table {
  margin-top: 20px;
}
