@import 'colors';
@import 'tables';
@import 'nav';

body {
  margin: 0 0;
}

section {
  margin-top: 12px;
}

a {
  text-decoration: none;
  color: $blueJeans;
  cursor: pointer;
}

.content {
  margin: 80px 20px;
}

.victory {
  color: green !important;
  font-weight: bold;
}

.defeat {
  color: $red !important;
  font-weight: bold;
}
