@import 'colors';
@import 'forms';
@import 'tables';
@import 'nav';
@import 'tabs';
@import 'uploads';

html {
  background: url("../assets/stormlogs_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
  margin: 0 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -1px;
}

section {
  margin-top: 12px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

a {
  text-decoration: none;
  color: $orange;
  cursor: pointer;
}

input {
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  position: relative;
  margin: 80px 20px;
  flex: 1;
}

.dropbtn {
  cursor: pointer;

  &:hover, &:focus {
    background-color: $orange;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $mediumBlue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.show {
  display: block;
}


.victory, .success {
  color: green !important;
  font-weight: bold;
}


.defeat, .failed {
  color: $red !important;
  font-weight: bold;
}

.blue-team {
  background-color: rgba(blue, 0.8);
}

.red-team {
  background-color: rgba(red, 0.8);
}

.talent-image {
  height: 32px;
  width: 32px;
}

.clickable {
  cursor: pointer;
}

.errors {
  border: 1px solid #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgb(255, 249, 242);
  color: rgb(211, 0, 0);
  text-align: center;

  span {
    margin-left: 12px;
  }
}
