@import 'colors';
@import 'tables';
@import 'nav';
@import 'uploads';

body {
  margin: 0 0;
  font-size: 14px;
}

section {
  margin-top: 12px;
}

a {
  text-decoration: none;
  color: $blueJeans;
  cursor: pointer;
}

.content {
  margin: 80px 20px;
}

.victory, .success {
  color: green !important;
  font-weight: bold;
}

.defeat, .failed {
  color: $red !important;
  font-weight: bold;
}
